{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="signup__area po-rel-z1 pt-100 pb-145">
  <div class="sign__shape">
    <img class="man-1" src="{% static 'assets/img/icon/sign/man-1.png' %}" alt="">
    <img class="man-2" src="{% static 'assets/img/icon/sign/man-2.png' %}" alt="">
    <img class="circle" src="{% static 'assets/img/icon/sign/circle.png' %}" alt="">
    <img class="zigzag" src="{% static 'assets/img/icon/sign/zigzag.png' %}" alt="">
    <img class="dot" src="{% static 'assets/img/icon/sign/dot.png' %}" alt="">
    <img class="bg" src="{% static 'assets/img/icon/sign/sign-up.png' %}" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
        <div class="section__title-wrapper text-center mb-55">
          <h2 class="section__title">{% trans "Password Reset" %}</h2>

          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.
            Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}