{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="{% static 'assets/img/page-title/page-title-2.jpg' %}" style="background-image: url({% static 'assets/img/page-title/page-title-2.jpg' %});">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="page__title-wrapper mt-110">
                <h3 class="page__title">Blog</h3>                         
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Blog</li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="blog__area pt-120 pb-120">
   <div class="container">
      <div class="row">
         <div class="col-xxl-8 col-xl-8 col-lg-8">
            <div class="row">
               {% for blog in blog %}
               <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="blog__wrapper">
                     <div class="blog__item white-bg mb-30 transition-3 fix">
                        <div class="blog__thumb w-img fix">
                           <a href="{{ blog.get_absolute_url }}">
                              <img src="{{ blog.cover.url }}" alt="">
                           </a>
                        </div>
                        <div class="blog__content">
                           <div class="blog__tag">
                              {% for cat in blog.category_set.all %}<a href="#">{{ cat.name }}</a>{% endfor %}
                              
                           </div>
                           <h3 class="blog__title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>

                           <div class="blog__meta d-flex align-items-center justify-content-between">
                              <div class="blog__date d-flex align-items-center">
                                 <i class="fal fa-clock"></i>
                                 <span>{{ blog.published_date }}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            
            {% if is_paginated %}
            <div class="row">
               <div class="col-xxl-12">
                  <div class="basic-pagination wow fadeInUp mt-30" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                     <ul class="d-flex align-items-center"> 
                        {% if page_obj.has_previous %}
                        <li class="prev">
                           <a href="?page={{page_obj.previous_page_number}}" class="link-btn link-prev">
                              Prev
                              <i class="arrow_left"></i>
                              <i class="arrow_left"></i>
                           </a>
                        </li>
                        {% endif %}

                        {% for i in paginator.page_range %} 
                           {% if page_obj.number == i %}
                        
                        <li class="active">
                           <a href="#">
                              <span>{{ i }}</span>
                           </a>
                        </li>
                        {% else %}

                        <li>
                           <a href="?page={{ i }}">
                              <span>{{ i }}</span>
                           </a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        
                        <li class="next">
                           <a href="?page={{page_obj.next_page_number}}" class="link-btn">
                              Next
                              <i class="arrow_right"></i>
                              <i class="arrow_right"></i>
                           </a>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
            {% endif %}
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4">
            <div class="blog__sidebar pl-70">
               <div class="sidebar__widget mb-60">
                  <div class="sidebar__widget-content">
                     <div class="sidebar__search p-relative">
                        <form action="#">
                           <input type="text" placeholder="Search for courses...">
                           <button type="submit">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 584.4 584.4" style="enable-background:new 0 0 584.4 584.4;" xml:space="preserve">
                              <g>
                                 <g>
                                    <path class="st0" d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z"></path>
                                    <path class="st1" d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z"></path>
                                 </g>
                              </g>
                              </svg>
                           </button>
                        </form>
                     </div>
                  </div>
               </div>

               <div class="sidebar__widget mb-55">
                  <div class="sidebar__widget-head mb-35">
                     <h3 class="sidebar__widget-title">Category</h3>
                  </div>
                  <div class="sidebar__widget-content">
                     <div class="sidebar__category">
                        <ul>
                           {% for cat in blog.category_set.all %}
                           <li><a href="blog.html">UX Design  (3)</a></li>{% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="sidebar__widget mb-55">
                  <div class="sidebar__banner w-img">
                     <img src="{% static 'assets/img/blog/banner/banner-1.jpg' %}" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock content %}